@font-face {
  font-family: 'BackToFuture';
  src: url('/font/BTTF.ttf') format('truetype');
}
body {
    font-family: "BackToFuture";
    margin-top: 3%;
    margin-bottom: 3%;
    background: linear-gradient(210deg, #030045 30%, #250B65 55%, #845EC2 75%, #3596B5 85%, #008E9B 90%, #008F7A 100%) center center fixed;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    position: relative;
    z-index: 0;
}
.stars {
  background-color: rgb(248, 229, 142);
  position: fixed;
  border-radius: 50%;
  z-index: 5;
}
h1 {
    text-align: center;
    font-size: 5em;
    margin-top: 2.5%;
    margin-bottom: 4%;
    color: orange;
}
button{
  font-family: "BackToFuture";
  color: rgb(255, 248, 210);
  border-color: #FFFFFF;
  background-image: linear-gradient(120deg, #845EC2 0%, #2C73D2 100%);
  border-radius:10px;
  width: 300px;
  z-index: 10;
}
#container {
    text-align:center;
    position: relative;
    z-index: 20;
}
#affichage {
    font-size: 2em;
}
#clic {
    margin: auto;
    width: 600px;
    height: 450px;
}
.blink-image {
  transform: scale(0.97, 0.97); 
  cursor: pointer;
}
.blink-image2 {
  transform: scale(1, 1); 
  cursor: pointer;
}
#containerButtons {
    display: inline-flex;
    justify-content: center;
    flex-direction: column;
    position:absolute;
    margin-left: -45%;
    margin-top: -27%;
}
.buy {
    margin-top: 5%;
    font-family: 'Courier New', Courier, monospace;
}
.nobonus {
    color: #eb3737;
    font-size:2em;
    padding:4%;
    margin-top: 20%;
    height: 200%;
    line-height: 1.5em;
}
.rainbow-button {
  font-size: 2em;
  line-height: 1.5em;
  margin-top: 20%;
  padding: 4%;
}
.rainbow-button:after {
  content:attr(alt);
}
.rainbow-button:hover {
  animation:slidebg 2s linear infinite;
}
@keyframes slidebg {
  to {
    background-position:20vw;
  }
}
#reparation {
  font-size: 1.7em;
  line-height: 2em;
  margin-right: -70%;
  margin-top: 3%;
  padding: 0.5%;
}
#reparation:after {
  content:attr(alt);
}
#reparation:hover {
  animation:slidebg 2s linear infinite;
}
#mon_canvas {
  transform: rotate(-25deg);
}
footer {
  height: 40px;
  width: 100%;
  position: fixed;
  bottom: 0px;
  left: 0px;
  text-align: center;
  background-color: #333333;
  z-index: 30;
}
p {
  z-index: 30;
}
#spotify {
  position: absolute;
  top: 175px;
  right: 30px;
  z-index: 40;
}
header{
  z-index: 50;
}