body {
    font-family: 'Courier New', Courier, monospace;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 3%;
    margin-bottom: 3%;
    background-color: rgb(59, 58, 80);
    color: white;
}
h1 {
    text-align: center;
    font-size: 3em;
    margin-top: 2.5%;
    margin-bottom: 5%;
}
button {
    padding: 2%;
    width: 400px;
    font-size: 2.8em;
    margin-top: 5%;
    display:inline-block;
}
#container {
    text-align:center;
}
#affichage {
    font-size: 2em;
    margin-bottom: 2%;
}
#clic {
    margin-bottom: 3%;
}
#containerButtons {
    display: inline-flex;
    justify-content: center;
}
#b2{
    margin-right: 5%;
    margin-left: 5%;
}
.buy {
    margin-top: 5%;
}
#autoclic {
    color: orange;
}
.nobonus {
    color: #eb3737;
}
.bonus{
    color:#1da847;
}
.blink-image {
    transform: scale(0.97, 0.97); 
    cursor: pointer;
}
.blink-image2 {
    transform: scale(1, 1); 
    cursor: pointer;
}
#mon_canvas{
    animation: cookie 3 2;
}