body {
    font-family: 'Courier New', Courier, monospace;
}

h1 {
    text-align: center;
    font-size: 3em;
    margin-top: 3%;
    margin-bottom: 6%;
}

img {
    width:25%;
}

button {
    padding: 2%;
    width: 400px;
    font-size: 3em;
    margin : 2%;
}

#container {
    text-align:center;
}

#clic {
    display: inline-block;
    margin-bottom: 3%;
}

#containerButtons {
    display: inline-flex;
}