body {
    font-family: 'Courier New', Courier, monospace;
    margin-top: 3%;
    margin-bottom: 3%;
    background-image: linear-gradient(to bottom, #413f59, #39374e, #312f43, #292738, #21202e);
    color: white;
    position: relative;
    width: 100%;
}

@font-face {
    font-family: 'BackToFuture';
    src: url('/font/BTTF.ttf') format('truetype');
  }

.box {
  background-color: rgb(248, 229, 142);
  position: fixed;
  border-radius: 50%;
}

h1 {
    text-align: center;
    font-size: 5em;
    margin-top: 2.5%;
    margin-bottom: 5%;
    font-family: "BackToFuture";
    color: orange;
}
button {
    padding: 2%;
    width: 400px;
    font-size: 2.8em;
    margin-top: 25%;

}
#container {
    text-align:center;
    position: relative;
}
#affichage {
    font-size: 2em;
    margin-bottom: 2%;
}
#clic {
    margin-bottom: 3%;
}
#containerButtons {
    display: inline-flex;
    justify-content: center;
    flex-direction: column;
    position:absolute;
    margin-left: -50%;
    margin-top: -40%;
}
.buy {
    margin-top: 5%;
}
#autoclic {
    color: orange;
}
.nobonus {
    color: #eb3737;
}
.bonus{
    color:#1da847;
}
.blink-image {
    transform: scale(0.97, 0.97); 
    cursor: pointer;
}
.blink-image2 {
    transform: scale(1, 1); 
    cursor: pointer;
}
/*#mon_canvas{
 
}*/