body {
    font-family: 'Courier New', Courier, monospace;
    margin-left: 10%;
    margin-right: 10%;
}
h1 {
    text-align: center;
    font-size: 3em;
    margin-top: 2.5%;
    margin-bottom: 5%;
}
img {
    width:30%;
    transform: scale(0.9, 0.9);
}
button {
    padding: 2%;
    width: 400px;
    font-size: 2.8em;
    margin-top: 5%;
}
#container {
    text-align:center;
}
#affichage {
    font-size: 2em;
    margin-bottom: 2%;
}
#clic {
    display: inline-block;
    margin-bottom: 3%;
}
#containerButtons {
    display: inline-flex;
}
.buy {
    float:left;
    margin-left: 35%;
    margin-top: 4%;
}
#autoclic {
    background-color: "orange";
    color: orange;
}
.nobonus {
    	background-color: #e25555;
}
.bonus {
	background-color: rgba(91, 245, 91, 0.63);
}
.blink-image {
    transform: scale(0.87, 0.87); 
    cursor: pointer;
}
.blink-image2 {
    transform: scale(0.9, 0.9); 
    cursor: pointer;
}