body {
    font-family: 'Courier New', Courier, monospace;
}
h1 {
    text-align: center;
    font-size: 3em;
    margin-top: 2.5%;
    margin-bottom: 3%;
}
img {
    width:25%;
    transform: scale(0.9, 0.9); 
}
button {
    padding: 2%;
    width: 400px;
    font-size: 2.8em;
    margin : 2%;
}
#container {
    text-align:center;
}
#affichage {
    font-size: 2em;
    margin-bottom: 2%;
}
#clic {
    display: inline-block;
    margin-bottom: 3%;
}
#containerButtons {
    display: inline-flex;
}
#autoclic {
    background-color: "orange";
    color: orange;
}
.nobonus {
    	background-color: #ff0000;
}
.bonus {
	background-color: #00FF00;
}
#nextMulti {
    margin-left: -43%;
}
#buyBonus {
    margin-top: -0.9%;
}
#buyAuto {
    margin-left: +43%;
    margin-top: -0.9%;
}
.blink-image {
    transform: scale(0.87, 0.87); 
    /*transition: transform 0.5s;*/
    cursor: pointer;
  }
.blink-image2 {
    transform: scale(0.9, 0.9); 
    /*transition: transform 0.5s;*/
    cursor: pointer;
  }